flask
flask-cors
python-dotenv
numpy
langchain
langchain-google-genai
langchain-community
langchain
pypdf
langchain-postgres
psycopg2
langchain-core 
langchain-cohere 
sqlalchemy
google
pandas